name: workflow 

on:
  push:
    branches: 
        - main 
    paths-ignore:
        - 'README.md'


jobs: 
    intergration:
        name: Continous Integration
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Lint code 
          run: echo "Linting repository"

        - name: Build Docker image
          run: echo "Building Docker image"

    build-and-push-ecr-image:
        name: Continous Delivery
        runs-on: ubuntu-latest
        needs: intergration
        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Check AWS CLI
          run: aws --version

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION }}

        - name: Login to Amazon ECR
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v2
          with:
            mask-password: true

        - name: Build and push Docker image to Amazon ECR
          id: build-image
          env:
            ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
            ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORTY_NAME }}
            IMAGE_TAG: latest

          run: |
            # Build a docer container and 
            # push it to Amazon ECR so that i can 
            # be deployed to AWS ECS or AWS EKS
            docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
            docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
            echo "Docker image pushed to Amazon ECR: $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"