name: workflow 

on:
  push:
    branches: 
        - main 
    paths-ignore:
        - 'README.md'


jobs: 
    intergration:
        name: Continous Integration
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Lint code 
          run: echo "Linting repository"

        - name: Build Docker image
          run: echo "Building Docker image"

    build-and-push-ecr-image:
        name: Continous Delivery
        runs-on: ubuntu-latest
        needs: intergration
        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Check AWS CLI
          run: aws --version

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION }}

        - name: Login to Amazon ECR
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v1